/vendor/
/web/wp-config.php
/web/wp-content/languages/*
/web/wp-content/plugins/*
!/web/wp-content/plugins/hello.php
!/web/wp-content/plugins/index.php
/web/wp-content/themes/*
!/web/wp-content/themes/index.php
!/web/wp-content/themes/twentyseventeen
/app/config/parameters.yml